@font-face {
  font-family: "SegoeUI";
  src: url("SegoeUI/SegoeUI.ttf") format("truetype");
}
@font-face {
  font-family: "SegoeUI-SemiBold";
  src: url("SegoeUI/SegoeUI-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "SegoeUI-Bold";
  src: url("SegoeUI/SegoeUI-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-Regular.ttf") format("truetype");
}
* {
	box-sizing: border-box;
	margin: 0;
}
body {
	text-align: left;
	font-size: 15px;
	line-height: 22px;
	color: #242424;
	overflow-x: hidden;
	background-color: #fffdf5;
	font-family: "SegoeUI";
}
h4 {
	padding: 4px 0;
}
.looptext {
	line-height: 10px;
}
.boldtext {
	font-family: "SegoeUI-Bold";
}
.semiboldtext {
	font-family: "SegoeUI-SemiBold";
}
.markedtextred {
	background-color: rgba(249, 81, 7, 0.45);
	padding: 0px 5px 2px 5px;
	border-radius: 7px;
}
.important .tez {
	line-height: 20px;
}
.lessonsimage {
	border-radius: 10px;
	box-shadow: 0px 0px 30px 30px #fff;
	width: 50%;
	margin: 20px 25% 10px 25%; 
}
.imagemain {
	border: 0;
	margin: 5px 25% 10px 25%;
	width: 50%;
	box-shadow: none;
}
.codeimage {
	width: 80%;
	box-shadow: 0px 0px 20px 20px #fff;
	margin: 0 10% 0 10%;
}
.eimage {
	margin-top: 20px;
	margin-bottom: 17px;
}
.mimage {
	margin-top: 35px;
	margin-bottom: 33px;
}
.flextask {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	margin-right: 30px;
}
.flextaskanswerdiv {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	grid-gap: 40%;
	width: 50%;
}
.flextaskanswerdiv2 {
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
	grid-gap: 10%;
	width: 100%;
}
.flextaskanswer {
	background-color: #F9D673;
	border-radius: 5px;
	padding: 5px 10px;
}
button {
	cursor: pointer;
}
#menu {
	font-family: "SegoeUI-SemiBold";
	width: 100%;
	position: fixed;
	text-align: center;
	background-color: #055984;
	color: #fffdf5;
	border-bottom: 5px solid #055984;
	padding: 13px 0;
	text-align: center;
	transition: 0.2s all;
	letter-spacing: 5px;
	font-weight: bold;
	height: 50px;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}
#menu div:hover {
	background-color: #0C679C;
}
main {
	padding: 60px 20px 40px 13px;
	overflow-x: hidden;
}
.imginmain {
	margin-bottom: 15px;
}
#nav {
	padding: 0px 10px 50px 10px;
	position: fixed;
	width: 17%;
} 
#nav ul li {
	margin: 7px 0;
	padding: 4px;
	cursor: pointer;
	text-align: left;
}
#nav ul {
	list-style-type: none;
	padding-left: 0;
	height: 80vh;
	overflow: scroll;
	padding-right: 40px;
}
a {
	outline: none;
	color: #242424;
	text-decoration: none;
}
#winners {
	margin-left: 0;
	overflow-x: scroll;
}
#winners img {
	width: 100%;
}
.img-loop {
	width: 60%;
}
#main-content {
	width: 100%;
	padding-left: 17%;
	line-height: 18px;
}
#main-content p , #main-content ul {
	margin-bottom: 10px;
}
.title {
	border-top: 0.5px solid #aaa;
	padding-top: 10px;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
}
.underlined {
	text-decoration: underline 1.5px;
}
.col-2-grid {
	display: grid;
	grid-template-columns: 30% 65%;
	row-gap: 10px;
	column-gap: 20px;
	margin: 10px 0;
	text-align: left;
	line-height: 15px;
}
.mark {
	display: grid;
	width: 100%;
	grid-template-columns: 2% 98%;
	margin: 10px 0;
	text-align: left;
	align-items: center;
	padding: 10px;
}
.part-task {
	padding: 7px 0 10px 0;
}
.mark div:nth-child(1) {
	height: 100%;
	background-image: url("../images/exclamation mark.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.mark div:nth-child(2) {
	padding-left: 10px;
}
.important {
	background-color: rgb(255, 165, 0);
	padding: 10px 15px;
	width: 99%;
	margin: 15px 0 20px 0;
	box-shadow: 5px 5px 0px #F95107;
}
p.important {
	margin-bottom: 20px;
}
.code span {
	font-family: "Source Code Pro";
}
span {
	content: "1";
}
/* light theme 
.purple {
	color: #B5A639;
}
.pink {
	color: #7D65C1;
}
.green {
	color: #6BBC7C;
}
.yellow {
	color: #D27547;
}
.orange {
	color: #B493B8;
}
.comment {
	color: #6B6C6C;
}
.blue {
	color: #489ED1;
}
.code {
	overflow-x: scroll;
	background-color: #F2F6FB;
	color: #000;
	border-left: 4px solid #A0A1FF;
	padding: 15px 20px;
	margin: 15px 5px;
	border-radius: 2px;
	font-size: 13px;
	line-height: 18px;
} */
/* dark theme */
.purple {
	color: #C8B73D;
}
.pink {
	color: #A786FF;
}
.green {
	color: #90FBA4;
}
.yellow {
	color: #E57F4C;
}
.orange {
	color: #CEA9D1;
}
.comment {
	color: #727272;
}
.blue {
	color: #52B5ED;
} 
.code {
	overflow-x: scroll;
	background-color: #1B1B1B;
	color: #fff;
	border-left: 4px solid #A0A1FF;
	padding: 15px 20px;
	margin: 11px 5px 10px 5px;
	border-radius: 2px;
	font-size: 13px;
	line-height: 18px;
}
.listTypeA {
	margin-top: 10px;
}
.col-2-grid .code {
	margin: 0;
}
.col-2-grid div:nth-child(1), .col-2-grid div:nth-child(3) {
	padding: 10px;
}
.topic {
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding-bottom: 3px;
}
.tez li {
	list-style: square;
}
.main-page a {
	color: #434443;
	text-decoration: none;
	cursor: pointer;
}
.main-page {
	padding-bottom: 3px;
}
a:hover {
	color: #cc4002;
	transition: 0.2s all;
}
#nav1 {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	justify-content: space-between;
}
#nav1 div {
	width: 100%;
	border: none;
	background-size: cover;
	background-repeat: no-repeat;
}
#nav1 button {
	text-transform: uppercase;
	border-radius: 3px;
	height: 55px;
	font-size: 15px;
	width: 98%;
	background-color: #0C679C;
	color: rgb(249, 249, 249);
	outline: none;
	font-family: "SegoeUI-SemiBold";
	border: none;
	vertical-align: bottom;
	transition: 0.3s all;
}
#nav1 p {
	text-align: center;
	line-height: 50px;
}
#nav1 a {
	border: 0;
	text-decoration: none;
	outline: none;
}
#nav1 button:hover {
	width: 94%;
	margin-left: 2%;
	transition: 0.3s all;
}
#nav1 div:last-child button {
	margin-left: 2%;
}
#nav1 div:last-child button:hover {
	margin-left: 4%;
}
footer {
	width: 100%;
	text-align: center;
	color: #fffdf5;
	background-color: #094D72;
	padding: 10px 20px;
	text-align: center;
	font-size: 12px;
}
.realInput {
	width: 40%;
	outline: none;
	border: 2px solid rgb(237, 179, 108);
	background-color: rgb(248, 239, 206);
	height: 36px;
	padding: 0 10px;
	border-radius: 3px;
	margin-bottom: 10px;
}
.answerButton, #starttest button, #next {
	font-size: 15px;
	padding: 0 10px;
	text-align: center;
	outline: none;
	border: 2px solid rgb(237, 179, 108);
	height: 36px;
	margin: 5px 0 10px 0;
	border-radius: 3px;
	background-color: rgb(237, 179, 108);
	transition: 0.3s all;
}
.code-answer {
	display: none;
	margin: 10px 0;
}
.answerButton:hover, #starttest button:hover, #next:hover {
	background-color: rgba(237, 179, 108,0.75);
}
.task {
	margin-top: 10px;
}
.code-parts {
	border: 2px solid black;
	padding: 5px;
	border-radius: 3px;
	background-color: #FFFFBD;
}
input[type=radio] {
	margin-bottom: 10px;
	background-color: #033752;
}
#testtitle {
	text-align: center;
	font-size: 23px;
	padding-top: 15px;
}
#teststatus {
	margin: 60px auto 20px auto;
	width: 60%;
	height: 40px;
	background-color: #FAE294;
	border-radius: 20px;
	overflow: hidden;
}
#status {
	width: 80%;
	color: #2F1C00;
	line-height: 37px;
	border-radius: 20px;
	background: linear-gradient(90deg, #FEC644, #F49731);
	height: 100%;
	transition: 0.3s all;
}
#textstatus {
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
	font-family: "SegoeUI-SemiBold";
}
#divquestion {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #feeeb8;
	margin-top: 10px;
	border-radius: 10px;
	padding: 10px 20px;
}
#question {
	margin-bottom: 5px;
	font-family: "SegoeUI-Semibold";
	font-size: 17px;
}
#nextq {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 60px;
}
#proccess {
	display: none;
}
#starttest, #resulttest {
	height: 50vh;
	display: block;
	border: 4px dashed #fff;
	text-align: center;
	background-color: #feeeb8;
	margin: 60px auto;
	height: 283px;
	padding-top: 111px;
	width: 50%;
	border-radius: 10px;
}
#resulttest {
	display: none;
	height: 50vh;
	font-size: 20px;
	padding-top: 19vh;
}
#resulttest p:first-child {
	font-family: "SegoeUI-Semibold";
	padding-bottom: 10px;
}
#jtext {
	padding: 10px 10px 0px 0;
	text-align: justify;
	font-size: 18px;
	line-height: 25px;
}
#maintest {
	height: 99vh;
}
.answer {
	cursor: pointer;
}
@media screen and (max-width: 710px) {
	#nav {
		display: none;
	}
	#main-content {
		padding-left: 0;
	}
	.realInput {
		width: 55%;
	}
	#nav1 button {
	border-radius: 5px;
	height: 52px;
	} 
	.lessonsimage, .imagemain, .codeimage {
		width: 100%;
		margin-left: 0;
	}
	#nav1 button {
		font-size: 13px;
	}
	#proccess, #divquestion, #teststatus, #starttest, #resulttest {
		width: 100%;
	}
}
@media screen and (max-width: 320px) {
	#menu {
		font-size: 14px;
	}
}